@media only screen and (max-width: 768px) {
    header {
        display: block;
        text-align: center;
        padding: 0;
    }

    header h1 {
        margin: 10px 0 20px 0;
    }

    header ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    main {
        width: 96%;
    }

    main div#information-top {
        margin: 50px auto;
    }

    main div#information-top h2 {
        font-size: 20px;
        width: 95%;
        line-height: 35px;
    }

    main div.cards {
        display: block;
        justify-content: none;
        margin-bottom: 25px;
    }

    main div.cards div.bigger {
        width: 100%;
        margin-bottom: 30px;
    }

    main div.cards div.smaller {
        width: 100%;
        margin-bottom: 30px;
    }

    main fieldset {
        width: 92%;
        padding: 13px;
    }

    main fieldset h3 {
        font-size: 20px;
    }

    main fieldset p {
        width: 80%;
    }

    main fieldset label {
        text-align: left;
        margin: 0;
    }

    main fieldset input {
        display: block;
        margin: 15px 0;
    }

    main fieldset textarea {
        width: 80%;
    }

    footer a {
        margin-left: 0;
    }

    footer ul li{
        font-size: 9px;
        margin: 0;
    }


}